<form class="mx-auto bg-white" [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="shadow-lg form-style">
        <h2 class="text-blue-700 text-xl font-semibold ">Register Now</h2>
        <div>
            <input type="text" placeholder="Type your name.." class="form-control" formControlName="name">
            @if (registerForm.get('name')?.errors && (registerForm.get('name')?.touched ||registerForm.get('name')?.dirty)) {
            <div class="error-style mx-auto">
                @if (registerForm.get('name')?.getError('required')) {
                <p>Name is required .. !</p>
                }@else if (registerForm.get('name')?.getError('minlength')) {
                <p>Min 3 character .. </p>

                }@else if(registerForm.get('name')?.getError('maxlength')) {
                <p>max 20 character .. </p>
                }
            </div>
            }

        </div>
        <div>
            <input type="email" placeholder="Type your email.." class="form-control" formControlName="email">
            @if (registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)) {
            <div class="error-style mx-auto">
                @if (registerForm.get('email')?.getError('required')) {
                <p>email is required .. !</p>
                }@else if (registerForm.get('email')?.getError('email')) {
                <p>ex:email&#64;gmail.com</p>
                }
            </div>
            }

        </div>
        <div>
            <input type="password" placeholder="Type your password.." class="form-control" formControlName="password">
            @if (registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)) {
                <div class="error-style mx-auto">
                    @if (registerForm.get('password')?.getError('required')) {
                    <p>password is required .. !</p>
                    }@else if (registerForm.get('password')?.getError('pattern')) {
                    <p> password should start with capital character at least 9 character and conatin number and special
                        character</p>
                    }
                </div>
                }
           
            </div>
            <div>
                <input type="password" placeholder="Confirm password.." class="form-control"
                    formControlName="rePassword">
                  @if (registerForm.getError('mismatch') && (registerForm.get('rePassword')?.touched ||registerForm.get('rePassword')?.dirty)) {
                        <p class="error-style mx-auto">password confirmation is incorrect</p>
                  }

            </div>
            <div>
                <input type="date" placeholder="Select date" class="form-control" formControlName="dateOfBirth">
                @if (registerForm.get('dateOfBirth')?.errors &&( registerForm.get('dateOfBirth')?.touched  || registerForm.get('dateOfBirth')?.dirty)) {
                    <div class="error-style mx-auto">
                        @if (registerForm.get('dateOfBirth')?.getError('required')) {
                        <p>Date is required .. !</p>
                    }
                    </div>
                    }

            </div>
            <div>
                <input type="radio" name="gender" value="male" formControlName="gender">
                <label for="male" class="me-4 ms-2">Male</label>
                <input type="radio" name="gender" value="female" formControlName="gender">
                <label for="female" class="me-4 ms-2">Female</label>
                @if (registerForm.get('gender')?.errors && registerForm.get('gender')?.touched) {
                    <div class="error-style mx-auto">
                        @if (registerForm.get('gender')?.getError('required')) {
                        <p>gender is required .. !</p>
                        }
                    </div>
                    }
            </div>

            <button type="submit" class="buttom-style">SignUp
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner "></i></span>
                }
            </button>

            @if (errMsg) {
                <p class="error-style mx-auto mt-2">{{errMsg}}</p>
            }
        </div>
</form>